.taskListWrapper {
  display: table;
  border-bottom: #e6e4e4 1px solid;
  border-left: #e6e4e4 1px solid;
}

.taskListTableRow {
  display: flex;
  text-overflow: ellipsis;
  align-items: center;
}

.taskListTableRow:nth-of-type(even) {
  background-color: #f5f5f5;
}

.taskListCell {
  display: flex;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /*cousor;*/
    cursor: pointer;
}
.taskListNameWrapper {
  display: flex;
}

.taskListExpander {
  font-size: 0.8rem;
  padding: 0.15rem 0.2rem 0 0.2rem;
  user-select: none;
  cursor: pointer;
}
.taskListEmptyExpander {
  font-size: 0.6rem;
  padding: 0.15rem 0.2rem 0 0.5rem;
  user-select: none;
}

.subTaskList {
  padding-left: 20px!important;
}

._2RbVy{
  opacity: 1!important;
}
